<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="{show-popup}">
        <div id="session_popup">
            <div id="session_popup_content">
                <f:if condition="{settings.closebutton}"><div id="session_popup_close"><span>x</span></div></f:if>
                <f:link.typolink parameter="{settings.link}">
                    <div id="session_popup_inner">

                        <f:switch expression="{settings.input}">
                            <f:case value="image"><f:image image="{image}" maxWidth="{settings.imagewidth}" maxHeight="{settings.imageheight}" /></f:case>
                            <f:case value="html"><f:format.raw>{settings.html}</f:format.raw></f:case>
                            <f:case value="ce"><f:format.raw>{ce}</f:format.raw></f:case>
                        </f:switch>

                    </div>
                </f:link.typolink>
            </div>
        </div>
    </f:if>
</f:section>

<f:section name="FooterAssets">
    <script src="{f:uri.resource(path: 'JavaScript/session_popup.js')}"></script>
</f:section>

</html>